@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--PhoneInput-color--focus: unset !important;
} */

body {
	--tw-bg-opacity: 1;
	background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}